@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

body {
  font-family: "Mochiy Pop P One", sans-serif;
  background-color: rgb(204, 252, 198);
  margin: 0;
  text-align: center;
}

.navbar {
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    rgba(211, 211, 211, 1) 0%,
    rgba(5, 129, 0, 1) 100%
  );
  padding-bottom: 1px;
}

input {
  margin: 10px;
  max-width: 10%;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
}

table {
  display: inline-block;
  border: black;
}

.expense-table {
  padding-left: 90px;
  padding-right: 90px;
}

.erase-button {
  background-color: red;
  border: 1px solid black;
  color: #ffffff;
  border-radius: 30%;
  font-size: 12pt;
  font-weight: bold;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
}

.submit-button {
  border: 1px solid rgba(5, 129, 0, 1);
  border-radius: 4px;
  background: rgba(5, 129, 0, 1);
  color: #ffffff;
  font-weight: bold;
  font-size: 12pt;
  padding: 14px 12px;
  line-height: 0.5;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
}
