@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

body {
  font-family: "Mochiy Pop P One", sans-serif;
  background-color: rgb(204, 252, 198);
  margin: 0;
  text-align: center;
}

.navbar {
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    rgba(211, 211, 211, 1) 0%,
    rgba(5, 129, 0, 1) 100%
  );
  padding-bottom: 1px;
}

input {
  margin: 10px;
  max-width: 10%;
}

table {
  display: inline-block;
}

th {
  padding-left: 100px;
  padding-right: 100px;
}

.erase-button {
  background-color: red;
  border-radius: 50%;
  font-weight: bold;
}
