@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

body {
  font-family: "Mochiy Pop P One", sans-serif;
  background-color: rgb(204, 252, 198);
  margin: 0;
  text-align: center;
}

nav {
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    rgba(211, 211, 211, 1) 0%,
    rgba(5, 129, 0, 1) 100%
  );
  padding-bottom: 1px;
}

table {
  display: inline;
  border-collapse: collapse;
}

th {
  border: 2px solid;
  max-width: 70px;
  padding-left: 90px;
  padding-right: 90px;
}

tr td {
  border-bottom: 1px solid #000000;
}

input {
  min-width: 150px;
  margin: 10px;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
}

select {
  margin: 10px;
  min-width: 175px;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid #767676;
  border-bottom: 2px solid #767676;
}

.erase-button {
  background-color: red;
  border: 1px solid black;
  color: #ffffff;
  border-radius: 30%;
  font-size: 12pt;
  font-weight: bold;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
}

.erase-button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30%;
  font-size: 12pt;
  font-weight: bold;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
}

.submit-button {
  border: 1px solid rgba(5, 129, 0, 1);
  border-radius: 4px;
  background: rgba(5, 129, 0, 1);
  color: #ffffff;
  font-weight: bold;
  font-size: 12pt;
  padding: 14px 12px;
  line-height: 0.5;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
  border: 1px solid rgba(5, 129, 0, 1);
  border-radius: 4px;
  background: #ffffff;
  color: rgba(5, 129, 0, 1);
  font-weight: bold;
  font-size: 12pt;
  padding: 14px 12px;
  line-height: 0.5;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
}

.form-field {
  display: inline-flex;
  align-items: center;
}
